html {
	background: #3C5A76 url('../img/bg.png') no-repeat center;
	height: 100%;
	color: white;
	
}

.small-caps {
	font-variant: small-caps;
}

.hidden {
	display:none;
	visibility:hidden;
}

body {
height: 100%;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0;
padding: 0;
border: 0;
font-size:20px;
}

p {
	line-height: 150%;
	padding: 10px 31px;
	margin: 0px;
}

#page-container {
	position:relative;
	width:960px;
	margin: 30px auto;
}

#left-15 {
	float:left;
	padding: 2% 4% 3% 0%;
	margin:4% 0% 4% 0%;
	width: 17%;
	height:auto;
	-moz-box-shadow: inset 5px 0 5px -5px #333;  
	-webkit-box-shadow: inset 5px 0 5px -5px #333; 
	box-shadow: inset -5px 0 5px -5px #333;
}

#right-85 {
	float:right;
	padding: 2% 3% 3% 0%;
	margin:2% 0% 4% 0%;
	width: 74%;
	height:auto;
}

.main {
	position:relative;
}

#name {
	position: relative;
	left: 11%;
	margin:auto;
	padding: 17px;
	text-align:center;
	color:white;
	border-radius: 100px;
	font: bold 100px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*-moz-box-shadow: 0px 1px 4px #333; 
	-webkit-box-shadow: 0px 1px 4px #333;
	box-shadow: 0px 1px 50px #333; */
	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

ul {
	text-align:right;
	list-style:none;
	padding: 0;
	color: #ddd;
	text-shadow: 0px 2px 3px #555;
	margin: 0px;
	font-size:24px;
	font-weight: 700;
	font-variant: small-caps;
}

li {

}

li>ul {
	font-size:18px !important;
	font-weight: 400;
	padding: 0px 10px 0px 0px;
	text-align: right;
	-moz-box-shadow: inset 2px 0 2px -2px #333;  
	-webkit-box-shadow: inset 2px 0 2px -2px #333; 
	box-shadow: inset -2px 0 2px -2px #333;
	
}

A{
	color:#dadada;
	text-decoration: none;
	text-shadow: 0px 2px 1px #575656;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	}
A:visited {
}
A:active {
	text-decoration: none;
	color:#aaa;
	-webkit-transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	transition: all ease-in-out 0.1s;
}
A:hover {
text-shadow: 0px 2px 10px #101010;
}
.feature-container {
	position:relative;
	float:left;	
	margin:1%;
	width:31%;
	height:210px;
	background-color:rgba(50,50,50,0.3);
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 4px 20px 4px 20px;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.feature-image {
	position:absolute;
	top:0px;
	margin:15px 5%;
	width:90%;
	height:185px;
	background-color:red;
	float:left;
	border-radius: 4px 20px 4px 20px
}

.feature-title {
	position:absolute;
	top:0px;
	padding:5px 5%;
	z-index:3;
	opacity:0;
	width:90%;
	height:30px;
	border-radius: 4px 20px 4px 4px;
	background: rgba(100,100,100,0.85);
	-webkit-transition: all ease-in-out 0.4s;
	-moz-transition: all ease-in-out 0.4s;
	transition: all ease-in-out 0.4s;
}

.feature-container:hover >.feature-title {
	opacity:1;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.title {
	font-size:38px;
	color:#ddd;
	text-shadow: 2px 2px 8px #000;
	padding: 2% 2% 2% 2%;
	margin: 0px 0px 0px 0px;
	width:100%;
	height:100%;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 20px 4px 20px 4px;
	background: rgba(14,250,103,0.25);
	box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
	-o-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
	-webkit-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
}

.checkbox-container{
	border-radius:4px;
	width:63%;
	height:24px;
	margin: 10px auto 0px auto;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

.checkbox{
	border: 2px outset #5AA0B8; 
	background: #046; 
	text-align:center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.checkbox-enabled{
	border: 2px inset #5aa0b8; 
	vertical-align: middle; 
	background: #046; 
}

.content {
padding: 2%;
width:100%;
height:100%;
}

.highlight{
	background: #ddd;
	color: #3C5A76;
	border-radius: 4px;
	padding: 0px 2px;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.tagline {
	font-size: 24px;
}

.first-image {
	width: 70%;
	margin:0% 15%;
	border-radius:4px;
	 -moz-box-shadow: 0 0 10px #000000;
   -webkit-box-shadow: 0 0 10px #000000;
   box-shadow: 0 0 10px #000000;
}
#contact-column-wrapper{
	width:88%;
	margin:auto;
}
.two-column{
	width:50%;
	float:left;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.arrow{
	position:absolute;
}


#coding-arrow {
	width: 321px;
	left: 670px;
	top: 487px;
}
#sv-arrow {
	width: 322px;
	left: 97px;
	top: 483px;
}
#project-arrow {
	width: 322px;
	left: 884px;
	top: 134px;
}
#pick-arrow {
	width: 622px;
	left: 271px;
	top: 409px;
}


